{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOS | Contactanos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/logo1.ico'%}">
    <script src="https://kit.fontawesome.com/37a7d1d6c8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styleinicio.css'%}">
    <link rel="stylesheet" href="{% static 'css/stylemenulogoutlogin.css'%}">
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
</head>

<body>

    <header class="header">
        <div class="menu container">
            <a href="{% url 'ventas' %}"><img class="logo-1" src="{% static 'img/logo1.png' %}" alt=" "></a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{% static 'img/menu.png' %}" class="menu-icono" alt=" ">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a style="text-decoration: none;" href="{% url 'contactopg' %}"> <i
                                class="fa-solid fa-phone"></i> Contactanos</a></li>
                    <li><a style="text-decoration: none;" href="{% url 'servicios' %}"> <i
                                class="fa-solid fa-group-arrows-rotate"></i> Nuestros Servicios</a></li>
                    <li><a style="text-decoration: none;" href="{% url 'ventas' %}"> <i class="fa-solid fa-shop"></i>
                            Comprar</a></li>
                </ul>

            </nav>
            <div>
                <ul>
                    <nav class="navbar">
                        <ul>
                            {% if user.is_authenticated %}
                            <li class="custom-dropdown" style="display: inline-block;">
                                <a style="text-decoration: none;" class="custom-dropbtn"><i class="fa-solid fa-user"
                                        style="transform: translateX(-2vh);"></i>{{ user.username|capfirst}}</a>
                                <div class="custom-dropdown-content">
                                    <a style="text-decoration: none;" href="{% url 'salir' %}" class="custom-menu-item">
                                        Salir <i class="fa-solid fa-right-from-bracket"
                                            style="position: absolute; font-size: 1.6rem; top: 19px; right: 8px;"></i></a>
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item"
                                        data-toggle="modal" data-target="#configuracionModal">Configuración</a>

                                    {% if user.is_staff %}
                                    <a style="text-decoration: none;" href="{% url 'domicilios'%}"
                                        class="custom-menu-item">
                                        Domicilios </a>
                                    <a style="text-decoration: none;" href="{% url 'admin:index' %}"
                                        class="custom-menu-item">Administrador </a>
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item"
                                        data-toggle="modal" data-target="#pdfModal">PDF</a>
                                    {% else %}
                                    {% for group in user.groups.all %}
                                    {% if group.name == 'Empleados' %}
                                    <a style="text-decoration: none;" href="{%url 'domiciliosloa'%}"
                                        class="custom-menu-item">Domicilios </a>
                                    <a style="text-decoration: none;" href="{%url 'admin:index'%}"
                                        class="custom-menu-item">Administrador </a>
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item"
                                        data-toggle="modal" data-target="#pdfModal">PDF</a>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                            {% else %}
                            <li><a style="text-decoration: none;" href="{% url 'loading' %}">Iniciar sesión</a></li>
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="configuracionModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: white;">
                                <div class="modal-dialog" role="document"
                                    style="box-shadow: 0px 5px 10px 5px #3da9fc; border-radius: 20px; overflow: hidden;">
                                    <div class="modal-content"
                                        style="background-color: rgba(15, 14, 23, 0.8); backdrop-filter: blur(1px); border-radius: 20px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="configuracionModalLabel"> Configuración</h5>
                                            <button type="button" style="color: white;" class="close"
                                                data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <h6>Cambiar Idioma:</h6>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="idiomaSelect">Selecciona un idioma:</label>
                                                        <select class="form-control" id="idiomaSelect">
                                                            <option value="es">Español</option>
                                                            <option value="en">Inglés</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-primary">Guardar
                                                        Cambios</button>
                                                </form>

                                                <hr>

                                                <h6>Cambiar Color de Página:</h6>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="colorSelect">Selecciona un color:</label>
                                                        <select class="form-control" id="colorSelect">
                                                            <option value="blue">Azul</option>
                                                            <option value="green">Verde</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-primary">Guardar
                                                        Cambios</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>


                    </nav>


                </ul>
            </div>
    </header>

    <div class="container-form">
        <div class="info-form">
            <h2>Contáctanos</h2>
            <p>Puedes contactarnos directamente o dejarnos un mensaje</p>
            <a href="#"><i class="fa fa-phone"></i> 57 350 595 2493</a>
            <a href="#"><i class="fa fa-envelope"></i> mlbbdaniel30@gmail.com</a>
            <a href="#"><i class="fa fa-map-marked"></i> Bogota, Colombia</a>
            <section>
                <iframe class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31815.35461736233!2d-74.11056320427828!3d4.608462430735198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f996fc1731b19%3A0x67d539e568f514ca!2zTG9zIE3DoXJ0aXJlcywgQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1697998005245!5m2!1ses!2sco"
                    width="40%" height="200px"
                    style=" position: absolute; border:0; border-radius: 20px; transform: translate(-15vh,0vh); margin-left: 15vh;"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
        </div>

        <form method="post" action="{% url 'contactanos'%}">
            {% csrf_token %}

            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-success" role="alert" id="('successMessage')">
                {{message}}
            </div>
            {% endfor %}
            <script>

                setTimeout(function () {
                    var successMessage = document.getElementById('successMessage');
                    if (successMessage) {
                        successMessage.style.display = 'none';
                    }
                }, 2000);
            </script>

            {% endif %}
            <div class="input-contenedor">
                <input type="text" required pattern="[A-Za-z]+" name="name" title="Ingresa solo letras en este campo">
                <label for="name"><i class="fa-solid fa-user"></i> Tu Nombre </label>
            </div>

            <div class="input-contenedor">
                <input type="email" required name="email">
                <label for="email"><i class="fa-solid fa-envelope"></i> Tu Correo</label>
            </div>

            <div class="input-contenedor">
                <input type="text" name="subject" required>
                <label style="color: white;" for="subject"> <i class="fa-solid fa-pen"></i> Asunto</label>
            </div>

            <div class="input-contenedor">
                <input type="text" name="message" required>
                <label style="color: white;" for="message"><i class="fa-regular fa-message"></i> Tu mensaje</label>
            </div>
            <button type="submit">Enviar Mensaje</button>
        </form>
    </div>
    <footer class="footer-container" style="padding: 0; height: 25vh;">
        <img class="logo-2" src="{% static 'img/logo1.png' %}" alt="">


        <div class="links" style="display: flex;
        flex-direction: row;
        align-items: center;">

            <div class="socials" style="display: flex;
            flex-direction: row;
            align-items: center; transform: translate(20vh, -10vh);">
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/whatsapp.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/facebook.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/instagram.png' %}" alt="">
                    </div>
                </a>
                <p class="copy" style="color: white; transform: translateY(1.5vh);">  &copy; 2023 FOS. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
<!--Modal PDF-->
<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="color: white;">
    <div class="modal-dialog" role="document"
        style="box-shadow: 0px 5px 10px 5px #3da9fc; border-radius: 20px; overflow: hidden;">
        <div class="modal-content"
            style="background-color: rgba(15, 14, 23, 0.8); backdrop-filter: blur(1px); border-radius: 20px;">
            <div class="modal-header">
                <h5 class="modal-title" id="configuracionModalLabel"> <i class="fa-solid fa-file-pdf"></i>
                    Generar PDF</h5>
                <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <h6 style="text-align: center;">Genera tu PDF:</h6>
                    {% if user.is_authenticated %}
                    <p>Tu grupo actual es:
                        
                            {% for group in user.groups.all %}
                                {{ group.name }}
                            {% endfor %}
                        
                    </p>
                    {% if user.is_staff %}
                    <a href="{% url 'export_domicile' %}" target="_blank"><button class="btn btn-success"
                            style="margin-right: 60px;">Domicilios</button></a>
                    <a href="{% url 'admin:index' %}" target="_blank"><button class="btn btn-success"
                            style="margin-right: 60px">Inventario</button></a>
                    <a href="#" target="_blank"><button class="btn btn-success">Venta</button></a>
                    {% else %}
                    {% for group in user.groups.all %}
                    {% if group.name == 'Empleados' %}
                    <a href="{% url 'export_domicile' %}" target="_blank"><button
                            class="btn btn-success">Domicilios</button></a>
                        
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <br><br>
                    <p>Nota: Dependiendo tu grupo, los botones tendran permisos</p>
                </div>
                </li>
                {% else %}
                <li><a style="text-decoration: none;" href="{% url 'loading' %}">Iniciar sesión</a></li>
                {% endif %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fa-solid fa-xmark"></i>
                Cerrar</button>
        </div>
    </div>
</div>
</div>
<!--Modal PDF-->