{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOS | Contactanos</title>
    <link rel="icon" href="{% static 'img/logo1.ico'%}">
    <link rel="stylesheet" href="{% static 'css/styleinicio.css'%}">
    <link rel="stylesheet" href="{% static 'css/stylemenulogoutlogin.css'%}">
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
</head>

<body>
    <header class="header">
        <div class="menu container">
            <img class="logo-1" src="{% static 'img/logo1.png' %}" alt=" ">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{% static 'img/menu.png' %}" class="menu-icono" alt=" ">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a style="text-decoration: none; " href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a style="text-decoration: none;" href="{% url 'contactanos' %}">Contactanos</a></li>
                    <li><a style="text-decoration: none;" href="{% url 'servicios' %}">Nuestros Servicios</a></li>
                </ul>

            </nav>
            <div>
                <ul>
                    <nav class="navbar">
                        <ul>
                            {% if request.user.is_authenticated  %}
                            <li class="custom-dropdown" style="display: inline-block;">
                                <a style="text-decoration: none;"  class="custom-dropbtn">{{user.username|capfirst}}</a>
                                <div class="custom-dropdown-content">
                                    <a href="#" class="custom-menu-item">Configuración</a>
                                    <a href="{% url 'admin:index'%}"  class="custom-menu-item">Administrador</a>
                                    <a href="{% url 'salir' %}" class="custom-menu-item">Salir</a>
                                </div>
                            </li>
                            
                                
                            {% else %}
                                <li><a style="text-decoration: none;" href="{% url 'loading'%}">Iniciar sesión</a></li>
                            {% endif %}
                        </ul>


                    </nav>


                </ul>
            </div>
    </header>
    <div class="container-form">
        <div class="info-form">
            <h2>Contáctanos</h2>
            <p>Puedes contactarnos directamente o dejarnos un mensaje</p>
            <a href="#"><i class="fa fa-phone"></i> 57 350 595 2493</a>
            <a href="#"><i class="fa fa-envelope"></i> mlbbdaniel30@gmail.com</a>
            <a href="#"><i class="fa fa-map-marked"></i> Bogota, Colombia</a>
        </div>
        <form  action="{% url 'loadingcontac'%}" id="form" >
            <div class="input-contenedor">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" required  >
                <label for="#">Tu Nombre</label>
            </div>

            <div class="input-contenedor">
                <i class="fa-solid fa-lock"></i>
                <input  type="Email" required >
                <label for="#">Tu Correo</label>
            </div>
            
            <div class="input-contenedor">
            <textarea name="mensaje" placeholder="..."></textarea>
            <label style="color: white;" for="#">Tu mensaje</label>
            </div>
            <button type="submit">Enviar Mensaje</button>
        </form>
    </div>
    <footer class="footer container" style="padding: 0; height: 25vh;">
        <img class="logo-2" src="{% static 'img/logo1.png' %}" alt="">


        <div class="links" style="display: flex;
        flex-direction: row;
        align-items: center;">

            <div class="socials" style="display: flex;
            flex-direction: row;
            align-items: center; transform: translate(20vh, -10vh);">
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/whatsapp.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/facebook.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/instagram.png' %}" alt="">
                    </div>
                </a>
                <p style="color: white; transform: translateY(1.5vh);">&copy; 2023 FOS. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </footer>
    
</body>
</html>