{% load static %}


<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOS</title>
    <link rel="icon" href="{% static 'img/logo1.ico'%}">
    <script src="https://kit.fontawesome.com/37a7d1d6c8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styleinicio.css'%}">
    <link rel="stylesheet" href="{% static 'css/stylemenulogoutlogin.css'%}">

</head>

<body>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert" id="successMessage" style="max-width: 50%;  transform: translateX(65vh); ">
            {{ message }}
        </div>
    {% endfor %}

    <script>
        // Agregar un timeout de 2 segundos (2000 milisegundos)
        setTimeout(function() {
            var successMessage = document.getElementById('successMessage');
            if (successMessage) {
                successMessage.style.display = 'none';
            }
        }, 2000);
    </script>
{% endif %}
    <header class="header">
        
        <div class="menu container">
            <a href="{% url 'inicio' %}"><img class="logo-1" src="{% static 'img/logo1.png' %}" alt=" "></a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{% static 'img/menu.png' %}" class="menu-icono" alt=" ">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a style="text-decoration: none; " href="{% url 'inicio' %}"> <i class="fa-solid fa-house"></i> Inicio</a></li>
                    <li><a style="text-decoration: none;" href="{% url 'contactopg' %}"> <i class="fa-solid fa-phone"></i> Contactanos</a></li>
                    <li><a style="text-decoration: none;" href="{% url 'servicios' %}"> <i class="fa-solid fa-group-arrows-rotate"></i> Nuestros Servicios</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a style="text-decoration: none;" href="{% url 'ventas' %}"> <i class="fa-solid fa-shop"></i> Comprar</a></li>
                    {% if not request.user.is_staff %}
                    {% endif %}
                    {% endif %}
                </ul>

            </nav>
            <div>
                <ul>
                    <nav class="navbar">
                        <ul>
                            {% if user.is_authenticated %}
                            <li class="custom-dropdown" style="display: inline-block;">
                                <a style="text-decoration: none;" class="custom-dropbtn"> <i class="fa-solid fa-user" style="transform: translateX(-2vh);"></i>{{ user.username|capfirst}}</a>
                                <div class="custom-dropdown-content">
                                    <a style="text-decoration: none;" href="{% url 'salir' %}" class="custom-menu-item">  Salir <i class="fa-solid fa-right-from-bracket" style="position: absolute; font-size: 1.6rem; top: 19px; right: 8px;"></i></a>
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item" data-toggle="modal"
                                        data-target="#configuracionModal">Configuración</a>

                                    {% if user.is_staff %}
                                    <a style="text-decoration: none;" href="{% url 'domiciliosloa'%}" class="custom-menu-item">  Domicilios </a>
                                    <a style="text-decoration: none;" href="{% url 'admin:index' %}" class="custom-menu-item">Administrador </a>
                                    {% else %}
                                    {% for group in user.groups.all %}
                                    {% if group.name == 'Empleados' %}
                                    <a style="text-decoration: none;" href="{%url 'domiciliosloa'%}" class="custom-menu-item">Domicilios  </a>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                            {% else %}
                            <li><a style="text-decoration: none;" href="{% url 'loading' %}">Iniciar sesión</a></li>
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="configuracionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true" style="color: white;">
                            <div class="modal-dialog" role="document"
                                style="box-shadow: 0px 5px 10px 5px #3da9fc; border-radius: 20px; overflow: hidden;">
                                <div class="modal-content"
                                    style="background-color: rgba(15, 14, 23, 0.8); backdrop-filter: blur(1px); border-radius: 20px;">
                                    <div class="modal-header">
                                            <h5 class="modal-title" id="configuracionModalLabel">Configuración</h5>
                                            <button style="color: white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <h6>Cambiar Idioma:</h6>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="idiomaSelect">Selecciona un idioma:</label>
                                                        <select class="form-control" id="idiomaSelect">
                                                            <option value="es">Español</option>
                                                            <option value="en">Inglés</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-primary">Guardar
                                                        Cambios</button>
                                                </form>

                                                <hr>

                                                <h6>Cambiar Color de Página:</h6>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="colorSelect">Selecciona un color:</label>
                                                        <select class="form-control" id="colorSelect">
                                                            <option value="blue">Azul</option>
                                                            <option value="green">Verde</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-primary">Guardar
                                                        Cambios</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>


                    </nav>


                </ul>
            </div>
    </header>

    <section class="carrucelprin" style="transform: translateY(5vh);">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active d.item">
                    <img src="{% static 'img/tren.png' %}" class="d-block w-10 d.img mx-auto " alt="...">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/pinata.png' %}" class="d-block w-10 mx-auto" alt="...">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/cajaregalo.png' %}" class="d-block w-10 mx-auto" alt="...">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        </div>
    </section>





    <section class="testimonial container">

        <h2>Empieza tu experiencia en FOS</h2>
        <div class="testimonial-content">
            <div class="testimonial-1" style=" padding-bottom: 100px; transform: translateY(20vh);">
                <p style="color: white;">
                    Para obtener una buena experiencia en fos, te recomendamos inciar sesion, si no tienes cuenta puedes
                    crear una.
                </p>

                <a style="color: white; text-decoration: none;" href="{% url 'login' %}">
                    <button class="btn-exp"
                        style="background-color:  #3da9fc; border-radius: 10px; height: 30px; width: 30%; border: none; align-items: center; text-align: center; color: white;"
                        type="submit">Inicia sesión</button>
                </a>

                <a href="{% url 'signup' %}">
                    <button class="btn-exp"
                        style="background-color:  #3da9fc; border-radius: 10px; height: 30px; width: 30%; border: none; align-items: center; text-align: center; color: white; transform: translateX(5vh);"
                        type="submit">Registrate</button>
                </a>

            </div>

        </div>
    </section>


    <section>
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31815.35461736233!2d-74.11056320427828!3d4.608462430735198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f996fc1731b19%3A0x67d539e568f514ca!2zTG9zIE3DoXJ0aXJlcywgQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1697998005245!5m2!1ses!2sco"
            width="40%" height="400px"
            style="border:0; border-radius: 20px; transform: translate(100vh,-50vh); margin-left: 15vh;"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>

    <footer class="footer container" style="padding: 0; height: 25vh;">
        <img class="logo-2" src="{% static 'img/logo1.png' %}" alt="">


        <div class="links" style="display: flex;
        flex-direction: row;
        align-items: center;">

            <div class="socials" style="display: flex;
            flex-direction: row;
            align-items: center; transform: translate(20vh, -10vh);">
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/whatsapp.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/facebook.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/instagram.png' %}" alt="">
                    </div>
                </a>
                <p style="color: white; transform: translateY(1.5vh);">&copy; 2023 FOS. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>