{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/37a7d1d6c8.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOS | Inicia sesión</title>
    <link rel="icon" href="{% static 'img/logo1.ico'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-rNAB3FI5Qo11Ewm9N0/bb1aCVyIfxkGcHEfyhJQq0HnJwwSRbqU5yay0YNsZtNO6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <section>
        <img class="img-logo-login" style="transform: translateX(45%);" src="{% static 'img/logo1.png' %}" alt="">

        <div class="contenedor">
            <h1> <a href="#" onclick="goBack()">Regresar</a></h1>
            <div class="formulario">

                <form method="post">
                    {% csrf_token %}
                    <h2>Iniciar sesión</h2>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-envelope"></i>
                        <input class="validatable" type="text" name="username" required>
                        <label for="#">Nombre de Usuario</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input class="validatable" type="password" name="password" required>
                        <label for="#">Contraseña</label>
                    </div>

                    <div class="olvidar">
                        <a href="{% url 'reset_password'%}">¿Olvidaste tu contraseña?</a>
                    </div>

                    <button type="submit">Iniciar</button>
                </form>
                <div>
                    <div class="registrar">
                        <p>¿No tienes cuenta?<a href="{% url 'signup' %}"> -> Registrate</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function goBack() {
            window.history.back();
            window.history.back();
        }
    </script>

    <script src="{% static 'js/login.js' %}"></script>


</body>

</html>