<!--Modal PDF-->
<div class="modal fade" id="politicaprivModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="color: white;">
    <div class="modal-dialog" role="document"
        style="box-shadow: 0px 5px 10px 5px #3da9fc; border-radius: 20px; overflow: hidden;">
        <div class="modal-content"
            style="background-color: rgba(15, 14, 23, 0.8); backdrop-filter: blur(1px); border-radius: 20px;">
            <div class="modal-header">
                <h5 class="modal-title" id="configuracionModalLabel"> <i class="fa-brands fa-teamspeak"></i>
                    Politica de privacidad</h5>
                <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <h6 style="text-align: center;"><strong>Fecha de vigencia: [Fecha de vigencia]</strong></h6>
                    <br>
                    <p style="text-align: justify;">Gracias por visitar Piñatería Latinos. Valoramos la confianza que deposita en nosotros y nos
                        comprometemos a proteger su privacidad. Esta Política de Privacidad le proporciona información
                        sobre cómo recopilamos, utilizamos y protegemos la información personal que pueda
                        proporcionarnos durante su visita a nuestra tienda.

                    <p style="text-align: justify;">   <strong> 1. Información que Recopilamos:</strong><br><br>

                        <strong>- Información Personal:</strong>
                        
                        Podemos recopilar información personal, como su nombre, dirección, número
                        de teléfono y dirección de correo electrónico cuando realiza una compra o se comunica con
                        nosotros a través de nuestro sitio web. <br><br>

                        <strong>Información de Pago:</strong> Al realizar compras, es posible que recopilemos información de pago, como
                        detalles de tarjetas de crédito o información de cuentas de pago en línea.</p>

                    <p style="text-align: justify;">   <strong>2. Uso de la Información:</strong>  <br><br>

                        <strong>Utilizamos la información recopilada para:</strong>

                        Procesar sus pedidos y brindarle los productos y servicios solicitados.
                        Comunicarnos con usted sobre su compra, envío y servicios relacionados.
                        Personalizar su experiencia en Piñatería Latinos y mejorar nuestros productos y servicios.
                        Cumplir con requisitos legales y regulatorios.</p>
                    <p style="text-align: justify;">   <strong>3. Protección de la Información:</strong><br><br>

                        Tomamos medidas para proteger la información personal recopilada. Utilizamos medidas de
                        seguridad físicas y electrónicas para prevenir el acceso no autorizado o la divulgación de
                        información sensible.</p> 

                    <p style="text-align: justify;">    <strong>4. Divulgación a Terceros:</strong><br><br>

                        No compartimos su información personal con terceros sin su consentimiento, excepto cuando sea
                        necesario para procesar transacciones, cumplir con la ley o proteger nuestros derechos.</p>

                    <p style="text-align: justify;">   <strong>5. Cookies:</strong> <br><br>

                        Utilizamos cookies para mejorar su experiencia en nuestro sitio web. Puede ajustar la
                        configuración de cookies en su navegador, pero esto puede afectar la funcionalidad de nuestro
                        sitio.</p>

                    <p style="text-align: justify;"> <strong>6. Cambios en la Política de Privacidad:</strong> <br><br>

                        Nos reservamos el derecho de actualizar nuestra Política de Privacidad. Cualquier cambio
                        significativo se comunicará a través de nuestro sitio web.</p>

                    <p style="text-align: justify;">   <strong>7. Contacto:</strong> 

                        Si tiene preguntas o inquietudes sobre nuestra Política de Privacidad, comuníquese con nosotros
                        a través de <a href="{% url 'contactopg' %}" style="color: #3da9fc;">Contactanos.</a></p>

                        <strong>Gracias por elegir Piñatería Latinos para sus celebraciones. ¡Esperamos que tenga una
                            experiencia llena de alegría y diversión!</strong>

                        </p>

                        <p style="text-align: center;"><strong>&copy; 2023 FOS. Todos los derechos reservados.</strong></p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fa-solid fa-xmark"></i>
                    Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal PDF-->

<div class="modal fade" id="termserviModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="color: white;">
    <div class="modal-dialog" role="document"
        style="box-shadow: 0px 5px 10px 5px #3da9fc; border-radius: 20px; overflow: hidden;">
        <div class="modal-content"
            style="background-color: rgba(15, 14, 23, 0.8); backdrop-filter: blur(1px); border-radius: 20px;">
            <div class="modal-header">
                <h5 class="modal-title" id="configuracionModalLabel"> <i class="fa-brands fa-teamspeak"></i>
                    Terminos de Servicio</h5>
                <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <h6 style="text-align: center;"><strong>Fecha de vigencia: [Fecha de vigencia]</strong></h6><br>
                    <p style="text-align: justify;">Bienvenido a Piñatería Latinos. Estos Términos de Servicio rigen su uso de nuestro sitio web y
                        los servicios ofrecidos. Al acceder y utilizar nuestros servicios, usted acepta cumplir con
                        estos términos. Si no está de acuerdo con alguno de estos términos, le pedimos que no utilice
                        nuestros servicios.

                        <p style="text-align: justify;"> <strong>1. Uso de Nuestros Servicios:</strong><br><br>

                        Al utilizar nuestros servicios, usted garantiza tener la capacidad legal para hacerlo y acepta
                        no utilizarlos con fines ilegales o no autorizados.

                        Nos reservamos el derecho de modificar o discontinuar nuestros servicios en cualquier momento
                        sin previo aviso.</p>

                        <p style="text-align: justify;"><strong> 2. Compras y Pagos:</strong><br><br>

                        Al realizar una compra, usted acepta proporcionar información precisa y completa.

                        Los precios de los productos están sujetos a cambios sin previo aviso.

                        Nos reservamos el derecho de rechazar o cancelar pedidos en cualquier momento por razones como
                        disponibilidad de productos, errores en los precios o violación de estos términos.</p>

                        <p style="text-align: justify;"><strong>3. Contenido del Usuario:</strong> <br><br>

                        Al enviar contenido a nuestro sitio web, como comentarios o reseñas, usted concede a Piñatería
                        Latinos el derecho no exclusivo de utilizar, modificar y mostrar dicho contenido.</p>
                        
                        <p style="text-align: justify;"><strong> 4. Privacidad:</strong><br><br>
                        Su privacidad es importante para nosotros. Consulte nuestra Política de Privacidad para obtener
                        información sobre cómo recopilamos, utilizamos y protegemos su información personal.</p>
                        <p style="text-align: justify;"><strong> 5. Propiedad Intelectual:</strong><br><br>

                        Todos los derechos de propiedad intelectual en nuestro sitio web y contenido son propiedad de
                        Piñatería Latinos. Usted acepta no copiar, reproducir o distribuir nuestro contenido sin
                        autorización.</p>
                        <p style="text-align: justify;"><strong> 6. Limitación de Responsabilidad:</strong><br><br>

                        Piñatería Latinos no será responsable por daños directos, indirectos, incidentales, especiales o
                        consecuentes que puedan surgir del uso de nuestros servicios.</p>
                        <p style="text-align: justify;"> <strong>7. Cambios en los Términos:</strong><br><br>

                        Nos reservamos el derecho de actualizar o modificar estos términos en cualquier momento.
                        Cualquier cambio significativo se notificará a través de nuestro sitio web.</p>
                        <p style="text-align: justify;"><strong>8. Contacto:</strong><br><br>

                        Si tiene preguntas o inquietudes sobre estos términos, comuníquese con nosotros a través de
                        <a href="{% url 'contactopg' %}" style="color: #3da9fc;">Contactanos.</a></p>

                        <strong>Gracias por elegir Piñatería Latinos. ¡Esperamos que tenga una experiencia maravillosa con
                        nuestros servicios!</strong>
                        <br><br>

                        <p style="text-align: center;"><strong>&copy; 2023 FOS. Todos los derechos reservados.</strong></p></p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fa-solid fa-xmark"></i>
                    Cerrar</button>
            </div>
        </div>
    </div>
</div>