{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOS | Recuperar contraseña</title>
    <script src="https://kit.fontawesome.com/37a7d1d6c8.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/logo1.ico'%}">
    <link rel="stylesheet" href="{% static 'css/styleinicio.css'%}">
    <link rel="stylesheet" href="{% static 'css/stylemenulogoutlogin.css'%}">
    <link rel="stylesheet" href="{% static 'css/servicios.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">

</head>

<body>

    <header class="header">
        <div class="menu container">
            <a href="{% url 'ventas' %}"><img class="logo-1" src="{% static 'img/logo1.png' %}" alt=" "></a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{% static 'img/menu.png' %}" class="menu-icono" alt=" ">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a style="text-decoration: none; transform: translateX(-80vh);" href="{% url 'login' %}"> <i class="fa-solid fa-left-long"></i> Volver</a></li>
                    
                    <h1 class="reset" style="font-size: 40px ; color: white;"> <i class="fa-solid fa-hammer"></i> Recuperar contraseña
                    </h1>

                </ul>

            </nav>

    </header>

    <div class="mensajerecu">
        <p></p>
        <p class="p1m"><i class="fa-solid fa-circle-exclamation"></i> ¿Olvidate tu contraseña?</p>
        <p class="p2m">¡No te preocupes! Notros te ayudamos a recuperarla, solo debes escribir tu <strong> <u> <i
                        class="fa-solid fa-envelope"></i> correo electrónico</u> </strong> para enviarte un mensaje.
        </p>
        <div class="recu">
            <button class="recu-btn" data-toggle="modal" data-target="#recuperar">Recuperar</button>

            <div class="modal fade" id="recuperar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true" style="color: white;">
                <div class="modal-dialog" role="document"
                    style="box-shadow: 0px 5px 10px 5px #3da9fc; border-radius: 20px; overflow: hidden;">
                    <div class="modal-content"
                        style="background-color: rgba(15, 14, 23, 0.8); backdrop-filter: blur(1px); border-radius: 20px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="configuracionModalLabel"> Recuperar contraseña</h5>
                            <button type="button" style="color: white;" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">

                                </h6>
                                <form class="form" method="post" style="text-align: left;">
                                    {% csrf_token %}
                                    <label style="text-align: left;" for="idiomaSelect">Escribe el correo electronico
                                        con el que te registraste</label>
                                    <br>
                                    {{form.as_p}}
                                    <div style="text-align: center;" class="form-group">
                                        <br>

                                        <input style="width: 20%;" class="btn btn-primary " type="submit" />
                                    </div>


                                </form>

                                <hr>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <footer class="footer container" style="padding: 0; height: 25vh;">
        <img class="logo-2" src="{% static 'img/logo1.png' %}" alt="">


        <div class="links" style="display: flex;
        flex-direction: row;
        align-items: center;">

            <div class="socials" style="display: flex;
            flex-direction: row;
            align-items: center; transform: translate(20vh, -10vh);">
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/whatsapp.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/facebook.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/instagram.png' %}" alt="">
                    </div>
                </a>
                <p style="color: white; transform: translateY(1.5vh);">&copy; 2023 FOS. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</body>

</html>