{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOS | Recuperar contraseña</title>
    <script src="https://kit.fontawesome.com/37a7d1d6c8.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/logo1.ico'%}">
    <link rel="stylesheet" href="{% static 'css/styleinicio.css'%}">
    <link rel="stylesheet" href="{% static 'css/stylemenulogoutlogin.css'%}">
    <link rel="stylesheet" href="{% static 'css/servicios.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">

</head>
<body>

    <header class="header">
        <div class="menu container">
            <a href="{% url 'ventas' %}"><img class="logo-1" src="{% static 'img/logo1.png' %}" alt=" "></a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{% static 'img/menu.png' %}" class="menu-icono" alt=" ">
            </label>
            <nav class="navbar">
                <ul>
                    <h1 class="reset" style="color: white;"> <i class="fa-solid fa-hammer"></i> Recuperar contraseña
                    </h1>
                </ul>

            </nav>

    </header>

    <div class="mensajerecu">
        <p></p>
        <p class="p1m"><i class="fa-solid fa-paper-plane"></i> Restablecimiento de contraseña enviado <i class="fa-solid fa-paper-plane"></i></p> 
        <p class="p2m">Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve. </p>
        <p class="p2m">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <footer class="footer container" style="padding: 0; height: 25vh;">
        <img class="logo-2" src="{% static 'img/logo1.png' %}" alt="">


        <div class="links" style="display: flex;
        flex-direction: row;
        align-items: center;">

            <div class="socials" style="display: flex;
            flex-direction: row;
            align-items: center; transform: translate(20vh, -10vh);">
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/whatsapp.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/facebook.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/instagram.png' %}" alt="">
                    </div>
                </a>
                <p style="color: white; transform: translateY(1.5vh);">&copy; 2023 FOS. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</body>

</html>