{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOS | Servicios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/logo1.ico'%}">
    <link rel="stylesheet" href="{% static 'css/styleinicio.css'%}">
    <link rel="stylesheet" href="{% static 'css/stylemenulogoutlogin.css'%}">
    <link rel="stylesheet" href="{% static 'css/servicios.css' %}">

</head>
<body>
    <header class="header">
        <div class="menu container">
            <img class="logo-1" src="{% static 'img/logo1.png' %}" alt=" ">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{% static 'img/menu.png' %}" class="menu-icono" alt=" ">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a style="text-decoration: none; " href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a style="text-decoration: none;" href="{% url 'contactanos' %}">Contactanos</a></li>
                    <li><a style="text-decoration: none;" href="{% url 'servicios' %}">Nuestros Servicios</a></li>
                </ul>

            </nav>
            <div>
                <ul>
                    <nav class="navbar">
                        <ul>
                            {% if user.is_authenticated %}
                            <li class="custom-dropdown" style="display: inline-block;">
                                <a style="text-decoration: none;" class="custom-dropbtn">{{ user.username|capfirst}}</a>
                                <div class="custom-dropdown-content">
                                    <a style="text-decoration: none;" href="{% url 'salir' %}" class="custom-menu-item">Salir</a>
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item" data-toggle="modal"
                                        data-target="#configuracionModal">Configuración</a>

                                    {% if user.is_staff %}
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item">Inventario</a>
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item">Domicilios</a>
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item">Venta</a>
                                    <a style="text-decoration: none;" href="{% url 'admin:index' %}" class="custom-menu-item">Administrador</a>
                                    {% else %}
                                    {% for group in user.groups.all %}
                                    {% if group.name == 'Empleados' %}
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item">Inventario</a>
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item">Domicilios</a>
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item">Venta</a>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                            {% else %}
                            <li><a style="text-decoration: none;" href="{% url 'loading' %}">Iniciar sesión</a></li>
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="configuracionModal" tabindex="-1" role="dialog"
                                aria-labelledby="configuracionModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="configuracionModalLabel">Configuración</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <h6>Cambiar Idioma:</h6>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="idiomaSelect">Selecciona un idioma:</label>
                                                        <select class="form-control" id="idiomaSelect">
                                                            <option value="es">Español</option>
                                                            <option value="en">Inglés</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-primary">Guardar
                                                        Cambios</button>
                                                </form>

                                                <hr>

                                                <h6>Cambiar Color de Página:</h6>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="colorSelect">Selecciona un color:</label>
                                                        <select class="form-control" id="colorSelect">
                                                            <option value="blue">Azul</option>
                                                            <option value="green">Verde</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-primary">Guardar
                                                        Cambios</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>


                    </nav>


                </ul>
            </div>
    </header>

    <div class="containerser">
        <h1 class="h1pri">Nuestros servicios</h1>
        <div class="row">
            <div class="service">
                
                <i class="fa-solid fa-warehouse"></i>
                <h2>Inventario</h2>
                <p >Permitir tener una planeación y visión más clara sobre el inventario en aspectos como proveedores, referencias que más salen, cantidades, anticipación a escasez también con el reemplazo del kardex físico se optimizará tiempo y espacio.</p>
                <a href="{% url 'loading'%}">
                    <button class="botonservi2">Saber mas</button>
                </a>
            </div>
            <div class="service">
                <i class="fa-solid fa-store"></i>
                <h2>Ventas</h2>
                <p>Acceder a los registros de ventas de manera más rápida evitando confusión e incertidumbre sobre datos que no están claros o se perdieron, para tener una información precisa y concisa.</p>
                <br>
                <a href="{% url 'loading'%}">
                    <button class="botonservi2">Saber mas</button>
                </a>
            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-truck"></i>
                <h2>Domicilios</h2>
                <p>Gestionar y mantener un registro, edición, supervisión y manejo completo de los domicilios realizados en la empresa, así manteniendo un control preciso de estos.</p>
                <br>
                <br>
                <a href="{% url 'loading'%}">
                    <button class="botonservi2">Saber mas</button>
                </a>
            </div>
        </div>
    </div>

    <footer class="footer container" style="padding: 0; height: 25vh;">
        <img class="logo-2" src="{% static 'img/logo1.png' %}" alt="">


        <div class="links" style="display: flex;
        flex-direction: row;
        align-items: center;">

            <div class="socials" style="display: flex;
            flex-direction: row;
            align-items: center; transform: translate(20vh, -10vh);">
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/whatsapp.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/facebook.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/instagram.png' %}" alt="">
                    </div>
                </a>
                <p style="color: white; transform: translateY(1.5vh);">&copy; 2023 FOS. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>