{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOS | Servicios</title>
    <script src="https://kit.fontawesome.com/37a7d1d6c8.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'img/logo1.ico'%}">
    <link rel="stylesheet" href="{% static 'css/styleinicio.css'%}">
    <link rel="stylesheet" href="{% static 'css/stylemenulogoutlogin.css'%}">
    <link rel="stylesheet" href="{% static 'css/servicios.css' %}">

</head>

<body>
    <header class="header">
        <div class="menu container">
            <a href="{% url 'ventas' %}"><img class="logo-1" src="{% static 'img/logo1.png' %}" alt=" "></a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="{% static 'img/menu.png' %}" class="menu-icono" alt=" ">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a style="text-decoration: none;" href="{% url 'contactopg' %}"> <i
                                class="fa-solid fa-phone"></i> Contactanos</a></li>
                    <li><a style="text-decoration: none;" href="{% url 'servicios' %}"> <i
                                class="fa-solid fa-group-arrows-rotate"></i> Nuestros Servicios</a></li>
                    
                    <li><a style="text-decoration: none;" href="{% url 'ventas' %}"> <i class="fa-solid fa-shop"></i>
                            Comprar</a></li>
                    
                </ul>

            </nav>
            <div>
                <ul>
                    <nav class="navbar">
                        <ul>
                            {% if user.is_authenticated %}
                            <li class="custom-dropdown" style="display: inline-block;">
                                <a style="text-decoration: none;" class="custom-dropbtn"><i class="fa-solid fa-user" style="transform: translateX(-2vh);"></i>{{ user.username|capfirst}}</a>
                                <div class="custom-dropdown-content">
                                    <a style="text-decoration: none;" href="{% url 'salir' %}" class="custom-menu-item">  Salir <i class="fa-solid fa-right-from-bracket" style="position: absolute; font-size: 1.6rem; top: 19px; right: 8px;"></i></a>
                                    <a style="text-decoration: none;" href="#" class="custom-menu-item" data-toggle="modal"
                                        data-target="#configuracionModal">Configuración</a>

                                        {% if user.is_staff %}
                                        <a style="text-decoration: none;" href="{% url 'domicilios'%}" class="custom-menu-item">
                                            Domicilios </a>
                                        <a style="text-decoration: none;" href="{% url 'admin:index' %}"
                                            class="custom-menu-item">Administrador </a>
                                        <a style="text-decoration: none;" href="#" class="custom-menu-item" data-toggle="modal"
                                            data-target="#pdfModal">PDF</a>
                                        {% else %}
                                        {% for group in user.groups.all %}
                                        {% if group.name == 'Empleados' %}
                                        <a style="text-decoration: none;" href="{%url 'domiciliosloa'%}"
                                            class="custom-menu-item">Domicilios </a>
                                        <a style="text-decoration: none;" href="{%url 'admin:index'%}"
                                            class="custom-menu-item">Administrador </a>
                                        <a style="text-decoration: none;" href="#" class="custom-menu-item" data-toggle="modal"
                                            data-target="#pdfModal">PDF</a>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                            {% else %}
                            <li><a style="text-decoration: none;" href="{% url 'loading' %}">Iniciar sesión</a></li>
                            {% endif %}

                            <!-- Modal -->
                            <div class="modal fade" id="configuracionModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: white;">
                                <div class="modal-dialog" role="document"
                                    style="box-shadow: 0px 5px 10px 5px #3da9fc; border-radius: 20px; overflow: hidden;">
                                    <div class="modal-content"
                                        style="background-color: rgba(15, 14, 23, 0.8); backdrop-filter: blur(1px); border-radius: 20px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="configuracionModalLabel"> <i class="fa-solid fa-screwdriver-wrench"></i>  Configuración</h5>
                                            <button type="button" style="color: white;" class="close"
                                                data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <h6>Cambiar Idioma:</h6>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="idiomaSelect">Selecciona un idioma:</label>
                                                        <select class="form-control" id="idiomaSelect">
                                                            <option value="es">Español</option>
                                                            <option value="en">Inglés</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-primary"> <i class="fa-solid fa-folder"></i> Guardar
                                                        Cambios</button>
                                                </form>

                                                <hr>

                                                <h6>Cambiar Color de Página:</h6>
                                                <form>
                                                    <div class="form-group">
                                                        <label for="colorSelect">Selecciona un color:</label>
                                                        <select class="form-control" id="colorSelect">
                                                            <option value="blue">Azul</option>
                                                            <option value="green">Verde</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" class="btn btn-primary"> <i class="fa-solid fa-folder"></i>  Guardar
                                                        Cambios</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal"> <i class="fa-solid fa-xmark"></i> Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="ventasModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: white;">
                                <div class="modal-dialog" role="document"
                                    style="box-shadow: 0px 5px 10px 5px #3da9fc; border-radius: 20px; overflow: hidden;">
                                    <div class="modal-content"
                                        style="background-color: rgba(15, 14, 23, 0.8); backdrop-filter: blur(1px); border-radius: 20px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="configuracionModalLabel"> <i class="fa-solid fa-circle-info" style="font-size: 20px;"></i> Ventas</h5>
                                            <button type="button" style="color: white;" class="close"
                                                data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <h6>Informacion ventas: </h6>
                                                <form>
                                                    <div class="form-group">
                                                        <p class="infoven">Lorem ipsum dolor sit amet consectetur
                                                            adipisicing elit. Quos eveniet doloribus repellat quae! Amet
                                                            laudantium distinctio iure illum. Nihil reiciendis
                                                            asperiores qui quae necessitatibus doloribus quas quibusdam
                                                            enim ut ab!</p>
                                                    </div>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            {% if user.is_authenticated %}
                                            
                                            {% else %}
                                                <button type="button" class="btn btn-primary"> <i class="fa-solid fa-user-plus"></i> Registrarse</button>
                                            {% endif %}
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="domiciliosModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: white;">
                                <div class="modal-dialog" role="document"
                                    style="box-shadow: 0px 5px 10px 5px #3da9fc; border-radius: 20px; overflow: hidden;">
                                    <div class="modal-content"
                                        style="background-color: rgba(15, 14, 23, 0.8); backdrop-filter: blur(1px); border-radius: 20px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="configuracionModalLabel"> <i class="fa-solid fa-circle-info" style="font-size: 20px;"></i> Domicilios</h5>
                                            <button type="button" style="color: white;" class="close"
                                                data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <h6>Informacion domicilios: </h6>
                                                <form>
                                                    <div class="form-group">
                                                        <p class="infoven">Lorem ipsum dolor sit amet consectetur
                                                            adipisicing elit. Quos eveniet doloribus repellat quae! Amet
                                                            laudantium distinctio iure illum. Nihil reiciendis
                                                            asperiores qui quae necessitatibus doloribus quas quibusdam
                                                            enim ut ab!</p>
                                                    </div>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            {% if user.is_authenticated %}
                                            
                                            {% else %}
                                                <button type="button" class="btn btn-primary"><i class="fa-solid fa-user-plus"></i> Registrarse</button>
                                            {% endif %}
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal"> <i class="fa-solid fa-xmark"></i> Cerrar</button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </ul>


                    </nav>


                </ul>
            </div>
    </header>

    <div class="containerser">
        <h1 class="h1pri">Nuestros servicios</h1>
        <div class="row">
            <div class="service">
                <i class="fa-solid fa-store"></i>
                <h2>Ventas</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque saepe maxime facilis, sapiente quam
                    voluptate officia suscipit nam praesentium dolores alias reiciendis. Nostrum asperiores voluptatum
                    fugit, ducimus dicta earum dolorem.</p>
                <br>
                <br>
                <a style="text-decoration: none; background-color: #3da9fc; color: white; border-radius: 25px; font-size: 20px; border: 1px solid white;"
                    href="#" class="custom-menu-item" data-toggle="modal" data-target="#ventasModal"><i class="fa-solid fa-circle-info" style="font-size: 20px;"></i> Saber más </a>



            </div>
            <div class="service">
                <i class="fa-sharp fa-solid fa-truck"></i>
                <h2>Domicilios</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolorum accusantium aliquam recusandae
                    laboriosam corporis inventore nam id ad? Nostrum dolor repellat voluptatibus alias ut assumenda quas
                    porro eos? Soluta.</p>
                <br>
                <br>
                <a style="text-decoration: none; background-color: #3da9fc; color: white; border-radius: 25px; font-size: 20px; border: 1px solid white;"
                    href="#" class="custom-menu-item" data-toggle="modal" data-target="#domiciliosModal"> <i class="fa-solid fa-circle-info" style="font-size: 20px;"></i> Saber más</a>
            </div>
        </div>
    </div>

    <footer class="footer-container" style="padding: 0; height: 25vh; transform: translateY(10vh);">
        <img class="logo-2" src="{% static 'img/logo1.png' %}" alt="">


        <div class="links" style="display: flex;
        flex-direction: row;
        align-items: center;">

            <div class="socials" style="display: flex;
            flex-direction: row;
            align-items: center; transform: translate(20vh, -10vh);">
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/whatsapp.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/facebook.png' %}" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social" style="margin: 0 10px;">
                        <img src="{% static 'img/instagram.png' %}" alt="">
                    </div>
                </a>
                <p class="copy" style="color: white; transform: translateY(1.5vh);"><strong>&copy; 2023 FOS. Todos los derechos reservados.</strong> 
                </p>
                
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>

<!--Modal PDF-->
<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="color: white;">
    <div class="modal-dialog" role="document"
        style="box-shadow: 0px 5px 10px 5px #3da9fc; border-radius: 20px; overflow: hidden;">
        <div class="modal-content"
            style="background-color: rgba(15, 14, 23, 0.8); backdrop-filter: blur(1px); border-radius: 20px;">
            <div class="modal-header">
                <h5 class="modal-title" id="configuracionModalLabel"> <i class="fa-solid fa-file-pdf"></i>
                    Generar PDF</h5>
                <button type="button" style="color: white;" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <h6 style="text-align: center;">Genera tu PDF:</h6>
                    {% if user.is_authenticated %}
                    <p>Tu grupo actual es:
                        
                            {% for group in user.groups.all %}
                                {{ group.name }}
                            {% endfor %}
                        
                    </p>
                    {% if user.is_staff %}
                    <a href="{% url 'export_domicile' %}" target="_blank"><button class="btn btn-success"
                            style="margin-right: 60px;">Domicilios</button></a>
                    <a href="{% url 'admin:index' %}" target="_blank"><button class="btn btn-success"
                            style="margin-right: 60px">Inventario</button></a>
                    <a href="#" target="_blank"><button class="btn btn-success">Venta</button></a>
                    {% else %}
                    {% for group in user.groups.all %}
                    {% if group.name == 'Empleados' %}
                    <a href="{% url 'export_domicile' %}" target="_blank"><button
                            class="btn btn-success">Domicilios</button></a>
                        
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <br><br>
                    <p>Nota: Dependiendo tu grupo, los botones tendran permisos</p>
                </div>
                </li>
                {% else %}
                <li><a style="text-decoration: none;" href="{% url 'loading' %}">Iniciar sesión</a></li>
                {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fa-solid fa-xmark"></i>
                    Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal PDF-->