body{
    background: linear-gradient(#b9d6f3, white);
}
#btn-menu{
    
    display: flex;
    height: 6vh;
    width: 10vh;
    border-radius: 100%;
    transition: all 0.7s;
    margin-top: 5vh;
    z-index: 1;
    transform: translateY(-38px);
    font-size: 30px;
    
}
i{
    color: white;
   margin-left: 3vh;
    display: flex;
    position: relative;
    transform: translateY(-200%);
    z-index: 2;
}


.container-menu{
    position: absolute;
    width: 37vh;
    height: 200vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    font-size: 20px;
    transform: translateY(100vh);
    
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
    transform: translateY(100px);
    box-shadow: #b9d6f3;
}

.cont-menu{
    width: 100vh;
    max-width: 250px;
    background: #486f99;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    border-top: 20px white;
    
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
    color: white;
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-size: 20px;
}
.cont-menu nav a:hover{
    border-left: 5px solid #fffdfd;
    background: #688db9;
    top: 20%;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 4px;
}
.logo{
    width: 50px;
    height: 50px;
    display: flex;
}
@media (max-width: 950px){
    #equis{
        font-size: 20px;
    }
.cont-menu nav a{
    font-size: 15px;
}

}
.admTi{
    transform: translateY(95px);
    text-align: center;
}