body{
    background-color: #0f0e17;
}
.logo {
    display: flex;
    align-items: center;
}

.menu-icon {
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 20px;
}

.menu-icon span {
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #222;
    z-index: 1000;
    transition: left 0.3s ease;
}

.menu-icon span:nth-child(1) {
    top: 0;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
    top: 9px;
}

.menu-icon span:nth-child(4) {
    top: 18px;
}

.container-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #b9d6f3;
    padding: 10px;
    border-radius: 5px;
    width: 30vw;
    z-index: 1000;
    height: 100vw;
}

.cont-menu nav {
    display: flex;
    flex-direction: column;
}

.cont-menu nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
}

.cont-menu nav a:hover {
    background-color: #486f99;
    border-radius: 5px;
}

#btn-menu:checked ~ .container-menu {
    display: block;
}


