.containerini{
    box-sizing: border-box;
    border: 2px solid black;
    height: 70vh;
    width: 60vh;
    transform: translate(75vh, 7vh);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 10px #486f99;
    background: linear-gradient(#486f99, #b9d6f3);
}
.card-header{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.la{
    color: white;
    text-align: left;
}
.in1{
    margin-bottom: 40px;
    color: white;
    
}
.inpu{
    text-align: left;
    width: 50vh;
    color:black; height: 5vh; border-radius:20px; 
    box-sizing: border-box;
    border: 3px solid #486f99;

}
.input:hover{
    border: 3px solid #b9d6f3;
}
.button{
    transform: translate(-20vh, 20vh);
    
   
}
.card-body{
    transform: translate(0,10vh);
}
