*,
::after,
::before{
    margin: 0;
    box-sizing: border-box;
}

:root[data-theme="light"] {
    --bg-color: #ffff;
    --show-sun: block;
    --show-moon: none;
    --text-color: #111;
    
    --message-mode: 'Light Mode';


    --animation-sun: rotate 15s linear infinite;
    --color-switcher: #c4c4c4;
    --color-active: #c1c1c1;
    --border-option: 20px solid #fff;
    /*
    Para estilos de las paginas
    */
    /*Estilos principales*/
    --bg-color2: #0f0e17 ;/*Para el logo*/
    --bg-colormenu: #0f0e17;/*Para el color (Background) del menu desplegable*/
    --text-colorm: white; /*Para el color del texto del menu desplegable*/
    --text-color2: white;/*Para el color de el menu*/
    --bg-colorbullet:black; /*Para el color de las pepitas del carrusel*/
    --color-hr:black;/*Para el hr (linea en la pagina) */
    --text-footer:black; /*Para el color de los textos del footer*/
    --bg-service:#0f0e17;/*Para las cajas de servicios*/
    --text-servi:white;/*Para el color del texto de las cajas de servicios*/
    --bg-footer:#0f0e17;
    --text-contactoh2: black;/*Para el color del h2 de contactanos*/
    --text-canth2hov: #3B95FF ;
    --text-contatoh22:black;
    --text-formcont:black;/*Para color texto formulario contactanos*/
    --bg-borbotfor:black;/*Para el borde del formulario contactanos*/
    --text-forup:#3B95FF;/*Para cambiar el color cuando sube en el formulario contacto*/
}

:root[data-theme="dark"] {
    --bg-color: #0f0e17;
    --show-sun: none;
    --show-moon: block;
    --text-color: #fff;
    
    --message-mode: 'Dark Mode';
    --animation-moon: show 4s alternate infinite both;

    --color-switcher: #3B95FF;
    --color-active: #fff;
    --border-option: none;
    
    --transform-option: translateX(100%);

    /*
    Para estilos de las paginas
    */
    /* Pagina principal*/
    --bg-colormenu:none;/*Para el color del menu del menu desplegable*/
    --text-color2: #f9bc60;/*Para el color del menu */
    --text-colorm:#f9bc60; /*Para el color del texto del menu desplegable*/
    --bg-colorbullet:white; /*Para el color de las pepitas del carrusel*/
    --color-hr:#f9bc60;/*Para el hr (linea en la pagina) */
    --text-footer:white; /*Para el color de los textos del footer*/
    --bg-service:none;/*Para las cajas de servicios*/
    --text-servi:white;/*Para el color del texto de las cajas de servicios*/
    --bg-footer:#123f60;
    --text-contactoh2: #3B95FF;/*Para el color del h2 de contactanos*/
    --text-canth2hov: #f9bc60  ;
    --text-contatoh22:white;
    --text-formcont:#3da9fc;/*Para color texto formulario contactanos*/
    --bg-borbotfor:#3da9fc;/*Para el borde del formulario contactanos*/
    --text-forup:#f9bc60;/*Para cambiar el color cuando sube en el formulario contacto*/

}




body {
    color: var(--text-color);   
    background-color: var(--bg-color);
    
    /*

    transition: .5s background-color, color .5s;*/
}

.main {
    min-height: 600px;
    height: 100vh;
    display: grid;
    align-content: center;
}


.main__theme::after {
    content: var(--message-mode);
    display: block;
    font-size: 2.3rem;
    text-align: center;
}

.main__light,
.main__dark {
    width: max-content;
    margin: 0 auto;
}

.main__light {
    display: var(--show-sun);
}

.main__dark {
    display: var(--show-moon);
}

#sun {
    animation: var(--animation-sun, none);
    transform-box: fill-box;
    transform-origin: center;
}

[id^="star"] {
    animation: var(--animation-moon, none);
}

#star2 {
    animation-delay: .7s;
}

#star3 {
    animation-delay: 1.4s;
}

.main__switcher {
    width: 160px;
    height: 80px;
    background-color: var(--color-switcher);
    margin: 0 auto;
    margin-top: 2rem;
    padding: 5px 10px;
    border-radius: 100px;
    

    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

}

.main__check {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
}

.main__option {
    width: 70px;
    height: 70px;
    background-color: var(--color-active);
    border: var(--border-option);
    border-radius: 50%;
    
    transition: transform .3s;
    transform: var(--transform-option, none);
}



@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*
Estilos para las paginas
*/

/*Estilos principales*/

.link a{
    color: var(--text-footer);
}
.menu{
    background-color: var(--bg-color2);
    border-radius: 20px;    
}

.custom-dropdown-content{
    color: var(--text-colorm);
    background-color: var(--bg-colormenu);
}

.menu #logo{
    background-color: var(--bg-color2);
    border-radius: 10px;
}

.menu .navbar ul li a{
    color: var(--text-color2);
    
}
.submenu:hover #carrito{
    background-color: var(--bg-colormenu);
}
.price-1{
    color: var(--text-color);
}
.swiper-button-prev{
    color: var(--text-color);
}

.swiper-button-next{
    color: var(--text-color);
}

.swiper-pagination-bullet{
    background-color: var(--bg-colorbullet);
}
.swiper-pagination-bullet-active{
    background-color: #f9bc60;
}
.product-txt p{
    color: var(--text-color);
}
.btn-3{
    color: var(--text-color);
}
hr{
    border: 1px solid var(--color-hr);
}

/*Estilos para servicios*/
.containerser .h1pri{
    color: var(--text-color);
}
.service{
    background-color: var(--bg-service);
    color: var(--text-servi) ;
}

.service:hover{
    color: var(--text-color);
}
.service:hover h2 {
    color: var(--text-color);
}

.footer-container{
    background-color: var(--bg-footer);
}

/*Estilos para contacto*/

.container-form h2{
    color: var(--text-contactoh2) ;
}

.container-form h2:hover{
    color: var(--text-canth2hov);
}

.container-form p{
    color: var(--text-contactoh22);
}

.container-form p:hover{
    color: var(--text-canth2hov);
}

.container-form a{
    color: var(--text-contactoh22);
}

.container-form a:hover{
    color: var(--text-canth2hov);
}

.input-contenedor label{
    color: var(--text-formcont);
}

.input-contenedor{
    border-bottom: 1px solid var(--bg-borbotfor);
}

input:focus ~ label,
input:valid ~ label{
    color: var(--text-forup);
}

/*Fin Estilos*/

/*
@media (prefers-color-scheme: dark){
    :root[data-theme] {
        --bg-color: #0f0e17;
        --show-sun: none;
        --show-moon: block;
        --text-color: #fff;
        
        --message-mode: 'Dark Mode';
        --animation-moon: show 4s alternate infinite both;
    
        --color-switcher: #3B95FF;
        --color-active: #fff;
        --border-option: none;
        
        --transform-option: translateX(100%);
    }
}


*/
