.mensajerecu{
    text-align: center;
    margin: 5%;
}
.mensajerecu:hover{
    color: #f9bc60;
}
.reset{
    color: white;
    cursor: pointer;
}

.reset::before {
    color: #f9bc60;
}
.p1m{
    color: white;
}
.p1m:hover{
    color: #f9bc60;
}
.p2m{
    color: white;
}
.p2m:hover{
    color: #f9bc60;
}

.recu .recu-btn{
    width: 30%;
    height: 45px;
    border-radius: 40px;
    background: #3da9fc;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}
.recu .recu-btn:hover{
    opacity: .10;
    color: white;
    border-color: 2px solid white;
}