    .custom-dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        transform: translateX(-5vh);
        backdrop-filter: blur(7px);
        border-radius: 10px;
        border-left: 1px solid #3da9fc;
        border-right: 1px solid #3da9fc;
        border-bottom: 2px solid #3da9fc;
        border-top: 0,5px solid #3da9fc; 
    }

    .custom-menu-item {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .custom-menu-item:hover {
        background-color: none;
        border-bottom: 1px solid #3da9fc;
        border-radius: 20px;
    }

    .custom-dropdown:hover .custom-dropdown-content {
        display: block;

    }
    @media (max-width: 990px) {
        .custom-dropdown-content {
            color: white;
            transform: translateX(20vh);
        }
    }
    .darkmode{
        background-color: white;
        color: black;
    }

