
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: #0f0e17; 
}


img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    padding: 130px 0 0 0;
}
.menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #e53170;
}

.logo-1{
    width: 150px;
}

.logo-2{
    width: 150px;
}

.socials{
    display: flex;
}

.social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 2px solid #e53170;
    background-color: #3da9fc;
    border-radius: 50%;
}

.social:hover{
    background-color: #f9bc60;
}

.menu .navbar ul li{
    position: relative;
    float: left;

    
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #3da9fc;
    display: block;
    transition: all .3s ease;
    border-radius: 20px;
}

.navbar ul li a:hover{
    color: #f9bc60;
    border-bottom: 2px solid #3da9fc;
    background-color: #123f60;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #3da9fc;
    padding: 20px;
    min-width: 400px;
}

.carro{
    display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid #e53170;
    background-color: #3da9fc;
    border-radius: 50%;
    margin: 0 10px;
}

.carro:hover{
    background-color: #f9bc60;
}

table{
    width: 100%;
}

th, td{
    color: #e53170;
}

.borrar{
    background-color: #f9bc60;
    border-radius: 50px;
    padding: 5px 10px;
    color: #e53170;
    font-weight: 800;
    cursor: pointer;
}

.oferts{
    padding: 100px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #004643;
}

.ofert-1{
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
}

.b1{
    background-color: #e53170;
}

.b2{
    background-color: #f9bc60;
}

.b3{
    background-color: #3da9fc;
}

.ofert-txt{
    flex-basis: 50%;
}

.ofert-txt h3{
    font-size: 20px;
}

.ofert-txt a{
    color: #123f60;
}

.ofert-img{
    flex-basis: 50%;
}

.products{
    padding: 0 0 50px 0;    
    text-align: center;
}

h2{
    font-size: 40px;
    color: #3da9fc;
}

.box-container{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box{
    border-top: 2px solid #f9bc60;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #123f60;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8){
    display: inline-block;
}

.box img{
    height: 200px;
}

.product-txt h3{
    font-size: 20px;
    color: #e53170;
    margin-bottom: 10px;
}

.product-txt p{
    margin-bottom: 25px;
    color: #3da9fc;
}

.precio{
    font-size: 17px;
    font-weight: 700;
    color: #f9bc60 !important;
}

.btn-2, .btn-3{
    background-color: #3da9fc;
    margin-top: 15px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover, .btn-3:hover{
    background-color: #f9bc60;
}

.btn-3{
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

.testimonial{
    padding: 100px 0;
    text-align: center;
}

.testimonial-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonial-1{
    flex-basis: calc(50% - 20px);
    padding: 50px;
    text-align: left;
    background-color: #004643;
    border-top: 5px solid #f9bc60;
}

.testimonial-1 img{
    width: 100px;
}

.testimonial-1 h4{
    font-size: 17px;
    color: #f9bc60;
}

.testimonial-1 p{
    color: #e53170;
    margin-bottom: 25px;
}

.footer{
    background-color: #123f60;
    transform: translateY(-5vh);
    border-radius: 20px;
    
}

@media screen and (max-width: 991px) {
    .footer {
        background-color: #6ca8d3;
    }

    .socials {
        flex-direction: column;
        text-align: center; 
    }
    
}

.header .navbar ul li{
    float: left;
    position: relative;
}



