*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #0f0e17;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}



.header{
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.swiper-slide{
    padding: 0 80px 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after{
    font-size: 25px;
}

.swiper-button-next::after{
    font-size: 25px;
}

.swiper-button-prev{
    color: #3da9fc;
}

.swiper-button-next{
    color: #3da9fc;
}

.swiper-pagination-bullet{
    background-color: #3da9fc;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #f9bc60;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu #logo{
    width: 100px;
    font-size: 25px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #f9bc60;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #3da9fc;
}

#menu{
    display: none;
}

.menu-icono{
    width: 80px;
    padding: 15px 25px;
    color: #e53170;
    border: 1px solid #3da9fc;
    border-radius: 50px;
    background-color: #3da9fc;
}

.menu-icono:hover{
    background-color: #f9bc60;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative;
    cursor: pointer;

}

.submenu #img-carrito{
    width: 80px;
    font-size: 30px;
    padding: 15px 25px;
    color: #f9bc60;
    border-radius: 50px;
}

.submenu #img-carrito:hover{
    color: #3da9fc;
}


.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(25px );
    top: 100%;
    z-index: 1;
    background-color: transparent;
    padding: 20px;
    min-width: 500px;
    transition: .10s;
    border-radius: 10px;
    border-bottom: 3px solid #3da9fc;
    border-left: 2px solid #3da9fc;
    border-right: 2px solid #3da9fc;
    border-top: 0,5px solid #3da9fc;
    text-decoration: none;
}

#carrito {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 100px; /* Ajustamos el padding derecho para dejar espacio al valor total */
}

#total-container {
    position: absolute;
    right: 0;
    top: 10; /* Ajustamos la posición superior para alinear el valor total correctamente */
    color: white;
    margin-top: 22px; /* Ajustamos el margen superior */
    margin-right: 150px; /* Ajustamos el margen derecho */
}

#lista-carrito {
    flex: 1; /* Hacemos que la tabla ocupe todo el espacio disponible */
}

#carrito a {
    margin-left: 10px; /* Añadimos un margen entre los botones */
    color: white; /* Aplicamos color de texto blanco */

}

#vaciar-carrito {
    color: white; /* Aplicamos color de texto blanco */
    margin-right: 250px; /* Añadimos margen derecho para separarlo del botón "Pagar" */
}

#Pagar {
    color: white; /* Aplicamos color de texto blanco */
}

#lista-carrito td:nth-child(4) {
    text-align: center;
}

.quantity {
    display: flex; /* Para que los elementos internos se alineen horizontalmente */
    align-items: center; /* Para centrar verticalmente los elementos internos */
}

.subtract,
.add {
    background-color: #0f0e17; /* Color de fondo */ 
    border: 1px solid #3da9fc;/* Eliminar bordes */
    padding: 5px 10px; /* Espaciado interno */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    border-radius: 5px;
    color: white;
    outline: none; /* Eliminar contorno al hacer clic */
}
.add:hover{
    background-color: #f9bc60;
    font-weight: bold;
}
.subtract:hover{
    background-color: #f9bc60;
    font-weight: bold;
}
.quantity-input {
    width: 40px; /* Ancho del campo de entrada */
    margin: 0 30px; /* Margen entre los botones y el campo de entrada */
    text-align: center; /* Centrar el texto en el campo de entrada */
    border-radius: 10px;
    border: 1px solid #3da9fc; /* Añadir un borde al campo de entrada */
}

table{
    width: 100%;
}

th, td{
    color: white;
}


.borrar{
    background-color: #f9bc60;
    border-radius: 50%;
    padding: 5px 10px;
    color: #3da9fc;
    font-weight: 800;
    cursor: pointer;
}

.header-content{
    padding: 200px 0 100px 0;
}

.header-info{
    display: flex;
}

.header-txt{
    width: 50%;
}

.header-txt h1{
    font-size: 50px;
    color: #3da9fc;
    text-transform: capitalize;
}

.header-img{
    width: 50%;
    text-align: right;
}

.header-img img{
    width: 500px;
}

.prices{
    display: flex;
    margin: 20px 0;
}

.price-1{
    font-size: 30px;
    color: #ffff;
    text-decoration-line: line-through;
    margin-right: 25px;
}

.price-2{
    font-size: 30px;
    color: #f9bc60 !important;
}

.btn-1{
    display: inline-block;
    background-color: #3da9fc;
    color: #ffff;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 40px;
}

.btn-1:hover{
    background-color: #f9bc60;
    text-decoration: none;
}

hr{
    border: 1px solid #f9bc60;
}

.seccion-1{
    background-color: #004643;
}
.promos{
    padding: 50px 0;
    text-align: center;
}

.promos h2{
    font-size: 50px;
    color: #f9bc60;
    margin-bottom: 35px;
}

.categories{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.categorie{
    display: flex;
    align-items: center;
    padding: 35px;
}

.categorie img{
    width: 150px;
}

.categorie-1{
    width: 50%;
}

.categorie-1 h3{
    color: #3da9fc;
    font-size: 22px;
    font-weight: 600;
}

.categorie-1 p{
    color: #ffff;
    font-size: 18px;
}

.categorie-img{
    width: 50%;
}

.seccion-2{
    background-color: #004643;
}

.products{
    padding: 50px 0;
}

.products h2{
    text-align: center;
    font-size: 50px;
    color: #f9bc60;
    margin-bottom: 70px;
}

.product{
    text-align: center;
}


.product img{
    width: 150px;
    margin-bottom: 15px;
}

.product-txt h3{
    font-size: 18px;
    color: #f9bc60;
    margin-bottom: 15px;    
}

.product-txt p{
    color: #ffff;
    font-size: 16px;
    margin-bottom: 15px;
}

.precio{
    color: #3da9fc !important;
}

.btn-3{
    display: inline-block;
    padding: 7px 10px;
    font-size: 14px;
    color: white;
    border: 1px solid #3da9fc;
    border-radius: 25px;
    margin-top: 15px;
    text-decoration: none;
}

.btn-3:hover{
    background-color: #f9bc60;
    text-decoration: none;
}

.footer {
    display: flex;
    padding: 30px 0;
}

.link {
    flex-grow: 1; /* Hace que los elementos ocupen todo el espacio disponible */
    margin-right: 300px; /* Añade un margen entre los elementos */
}

.link:last-child {
    margin-right: 0; /* Elimina el margen del último elemento para evitar un espacio adicional */
}

.link h3 {
    color: #3da9fc;
    margin-bottom: 20px;
}

.link a {
    color: #fff;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.link p {
    color: #fff;
    font-size: 16px;
}

@media(max-width:991px){
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #123f60;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    #logo{
        display: none;
    }
    
    .submenu:hover #carrito{
        min-width: 100%;
    }

    .mySwiper-1{
        width: 300px;
    }

    .swiper-slide{
        padding: 0 30px 50px 30px;
    }

    .header-content{
        padding: 100px 0 50px 0;
    }

    .header-info{
        padding: 0;
        flex-direction: column;
        text-align: center;
    }

    .header-txt{
        width: 100%;
    }

    .header-txt h1{
        font-size: 40px;
    }

    .header-img{
        width: 100%;
    }

    .header-img img{
        width: 200px;
    }

    .prices{
        flex-direction: column;
    }

    .price-1{
        margin: 0;
    }

    .btn-1{
        margin: 20px 0;
    }

    .promos{
        padding: 30px;
    }

    .promos h2{
        font-size: 40px;
        margin-bottom: 0;
    }

    .categories{
        grid-template-columns: repeat(1, 1fr);
    }

    .categorie{
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .categorie-1{
        width: 100%;
        margin-bottom: 25px;
        border: -1;
    }

    .categorie-img{
        width: 100%;
    }

    .products{
        padding: 30px;
    }

    .products h2{
        font-size: 40px;
        margin-bottom: 40px;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .link{
        width: 100%;
    }
    #mensaje {
        width: 80%;
        margin-left: 10px;
    }
}