*{
    font-family: sans-serif;
}
.container{
    width: 30%;
    height: 175px;
    margin: 0 auto;
    margin-top: 20%;
    background-color: transparent;
    border: none;
}
h1{
    padding-top: 15px;
    font-size: 1.25rem;
    text-align: center;
    transform: translateY(-30px);
}
.frm{
    display: flex;
    flex-direction: column;
}
#correo{
    width: 80%;
    height: 40px;
    margin: 2px auto;
    border-radius: 15px;
    border: none;
    text-transform: none;
    
}
#correo:focus{
    border: 3px solid #0075FF;
	outline: none;
}

#btn-enviar{
    width: 50%;
    height: 40px;
    margin: 20px auto;
    background-color: #486f99;
}
#btn-enviar:hover{
    background: linear-gradient( #486f99, #b9d6f3);
}
.resultado{
    color: #486f99;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 7px;
}
.resultado2{
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 7px;
}